form{
    margin-top: 3.5rem;
}
form input[type=text]{
    width: 25rem;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
}
.add-todo-btn{
    width: 3rem;
    height: 3rem;
    margin-bottom: -1.05rem;
    cursor: pointer;
}
.remove-all-btn{
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 50rem;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 1.2rem;
}
li{
    width: 15rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, #159957, #155799);
    overflow-wrap: break-word;
}
.completed-btn{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-bottom: -0.7rem;
    margin-left: 0.6rem;
    margin-top: 2rem;
}
.delete-btn{
    width: 2rem;
    height: 1.8rem;
    cursor: pointer;
    margin-bottom: -0.53rem;
    margin-left: 0.3rem;
}
.completed{
    text-decoration: line-through;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
form{
    margin-top: 5rem;
}
form input[type=text] {
    margin-top: 3rem;
    width: 35rem;
    height: 5rem;
    font-size: 2rem;
    padding-left: 2rem;
}
.add-todo-btn {
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: -2rem;
    margin-left: 1rem;
}
.remove-all-btn {
    width: 15rem;
    height: 5rem;
    margin-top: 4rem;
    margin-left: 36rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}
li{
    width: 25rem;
    height: 5rem;
    font-size: 2.5rem;
    overflow-y: scroll;
}
.completed-btn{
    width: 5rem;
    height: 5rem;
    margin-bottom: -0.2rem;
}
.delete-btn{
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.3rem;
}



}